#showpage1 {
    font-size: large;
}

:host {
    --dile-tab-background-color: rgb(0, 255, 17);
  }
  
  /* Apply the variable to a specific element */
  article .selected {
    background-color: green;
  }

  .tooltip_tooltip-icon__2w4kL {
    width: 23px;
  }
 
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .side-panel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    background-color: #111;
    overflow-x: hidden;
    transition: width 0.3s;
    z-index: 1;
  }
  
  .side-panel.expanded {
    width: 200px;
  }
  
  .side-panel .toggle-btn {
    background-color: #111;
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    width: 100%;
    text-align: left;
  }
  
  .nav-menu {
    margin: 20px 0;
    padding: 0;
  }
  
  .nav-menu a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .nav-menu a:hover {
    background-color: #575757;
  }
  
  .main-content {
    margin-left: 60px;
    padding: 16px;
    transition: margin-left 0.3s;
  }
  
  .side-panel.expanded + .main-content {
    margin-left: 200px;
  }

#comments {
    border-bottom: 1px solid #eee;
    display: flex;
    /* flex-direction: column-reverse; */
    flex-direction: column;
    border: 0;
}

.shoutbox {
  width: 300px;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 867px;
  height: 350px;
  /* margin: 20px auto; */
}
.scrollable {
  max-height: 400px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 5px 15px 20px 15px;
}

.pinned-messages-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

/* Pinned summary text */
.pinned-summary {
  font-weight: bold;
  color: #333;
}

.shoutbox .back-to-chat {
  display: none;
}

.message.pinned {
  background-color: #fff179;
  border: 3px solid gold;

}
.delete, .pin {
  margin-left: 10px;
  cursor: pointer;
  color: red;
  border: none;
  background: none;
  font-size: 0.9em;
}

.shoutbox-inner {
  border-radius: 10px;
  width: 444px;
  box-shadow: 0 2px 20px 0 rgba(9, 58, 12, 0.15);
}

.shoutbox-headline {
  height: 43px;
  text-transform: uppercase;
  background-image: linear-gradient(87.64deg, rgba(12, 77, 34, .97) 18.18%, rgba(44, 128, 11, .97) 113.68%);
  padding: 8px 18px;
  font-size: .895em;
  border-radius: 14px 14px 0 0;
}

.shoutbox-headline h2 {
  margin-top: 9px;
}

.shoutbox-headline h2::before {
  content: "";
  width: 39px;
  height: 39px;
  background-image: url("data:image/svg+xml,%3Csvg width='150' height='100' viewBox='0 0 150 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M94.0074 98.9849L82.9513 80.6579L72.1239 98.9849H59.1616L75.8144 71.3803L58.8413 45.7529H72.3832L83.2563 62.8632L93.6261 45.7529H106.588L89.8899 72.2168L107.046 98.9849H94.0074Z' fill='white'/%3E%3Cpath d='M149.181 80.8899C149.181 92.6009 140.336 99.9013 128.746 99.9013C118.529 99.9013 109.928 94.2739 109.089 82.0306H120.145C120.908 87.3538 125.178 89.6352 129.829 89.6352C135.624 89.6352 138.125 85.7568 138.125 80.7378C138.125 75.4907 134.236 72.2207 128.823 72.2207C124.324 72.2207 121.35 74.35 119.978 76.6314H109.41L113.062 45.7568H147.82L146.661 56.099H121.796L120.809 66.3158C120.809 66.3158 123.42 63.2473 131.335 63.2473C140.87 63.2473 149.181 69.6314 149.181 80.8899Z' fill='white'/%3E%3Cpath d='M110.397 39.1254C104.507 16.2281 85.822 0.140625 47.0456 0.140625H0.22876L6.58411 42.9999C11.3649 81.6729 26.1953 94.114 52.4402 98.6957C52.5622 98.7148 53.3933 98.8326 53.4048 97.863C53.4086 97.5132 53.1875 97.2128 52.8825 97.0836C35.1432 89.6349 33.1187 65.2053 29.3292 40.692L26.3974 21.1558H53.1227C77.7625 21.1558 96.7866 20.768 108.83 39.7376C109.009 40.0037 109.288 40.2015 109.619 40.2015C110.084 40.2015 110.431 39.825 110.431 39.3612C110.431 39.2775 110.42 39.1977 110.397 39.1254Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 10px;
  display: block;
}

.scrollable {
  max-height: 408px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  /* height: 320px; */
}

.shoutbox-messages-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.message {
  margin-bottom: 10px;
  border-bottom: 1px solid #4e4e4e;
  width: auto;
  min-width: 100px;
  transform: translateY(6px);
  /* -webkit-animation-duration: .5s;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; */
  background-color: #fefefe;
  border-radius: 0 10px 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 11px;
  flex-direction: column;
  max-width: 63%;
}

.message.user-message {
  align-self: flex-end;
  background-color: #cbdff8; /* Different color for the current user's messages */
  border-radius: 10px 0px 10px 10px;
}

.message:not(.user-message) {
  align-self: flex-start;
  background-color: #f0f0f0;
}

.message-content {
  display: flex;
  flex-direction: column;
  margin: 2px;

  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  white-space: normal;
}

.message-username {
  padding-bottom: 7px;
}

.message-comment {
  letter-spacing: 0.02em;
}

.message-date {
  margin-top: 10px;
}

#shoutbox-form {
  display: flex;
}

.shoutbox-container-form {
  padding-right: 0;
  width: 100%;
  border-top: 1px solid #a8a6a6;
  /* flex: 0 0 auto; */
  position: relative;
  flex-direction: column;
  display: flex;
}

#shoutbox-form {
  /* height: auto; */
  min-height: 116px;
  overflow-y: auto;
  max-height: 180px;
  width: 100%;
  border: 0;
}

.shoutbox #username {
  position: absolute;
  right: 12px;
  background: none;
  text-align: right;
  appearance: none;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: none;
  color: #5b5b5b;
}

.shoutbox #comment {
  max-width: 444px;
  height: 80px;
  border-top: medium;
  outline: none;
  resize: none;
  border-radius: 0 0 10px 10px;
  font-family: Arial, sans-serif;
  padding-top: 23px;
  /* padding-right: 86px; */
  padding-right: 80px;
  padding-left: 8px;
  padding-bottom: 10px;
  line-height: 21px;
  border-left: none;
  border-right: none;
}

.shoutbox .shoutbox-container-form button {
  position: absolute;
  right: 19px;
  top: 28px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;

  margin-bottom: .25rem;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  flex: initial;
  transition: .3s;
  will-change: backgorund-color;
  outline: none;
  border: none;
}

.shoutbox .shoutbox-container-form button:disabled {
  background-color: rgba(109, 109, 109, 0.3);
}

.shoutbox .shoutbox-container-form button:enabled {
  background-color: #004516;
}


/* for admin box styles: */

.shoutbox #chats-tabs-navigation {
  display: flex;
  justify-content: center;
}

.archived-chats-list-container,
.user-chats-list-container {
  display: flex;
  flex-direction: column;
  max-height: 408px;
  overflow-y: scroll;
  padding: 7px;
}

.archived-chats-list-container #archived-chats-list,
.user-chats-list-container #user-chats-list {
  /* margin: 3px; */
  padding-left: 7px;
  padding-right: 7px;
}

.archived-chats-list-container #archived-chats-list li {
  list-style: none;
  padding: 12px 16px 13px 16px;
  margin: 3px 2px;
  border-radius: 5px;
  background: #dadadaf5;
}

.archived-chats-list-container #archived-chats-list li:hover,
.user-chats-list-container #user-chats-list li:hover {
  background: #cbcbcb80;
  cursor: pointer;
}

.user-chats-list-container #user-chats-list li {
  list-style: none;
  padding: 12px 16px 13px 16px;
  margin: 3px 2px;
  border-radius: 5px;
  background: #cce5ff;
}

